@import url('https://fonts.googleapis.com/css2?family=Lato&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Press Start 2P', cursive;
    overflow:hidden;
}
/* body{
    background-image: url(photo/background.jpg);
    background-repeat:no-repeat; 
    background-size: cover;
    background-position:center; 
    background-attachment:fixed; 
} */
.main{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(photo/background.jpg);
    background-repeat:no-repeat; 
    background-size: cover;
    background-position:center; 
    background-attachment:fixed;
    width: 100vw;
    height: 100vh;
}
a, a:active, a:visited {
    margin: 20px auto 20px auto;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color:rgb(0, 183, 0); 
    letter-spacing: 5px;
    transition: s ease-in-out;
}
.title{
    margin: 20px auto 20px auto;
    text-shadow: 2px 2px #033911;
}
.game_area{
    width: 1250px;
    height: 750px;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
}
.scoreboard{
    width: 1250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    padding: 0 20px 0 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #033911;
    font-size: 25px;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
}
.life{
    height: 30px;
}
.fruit_score{
    height: 50px;
}
.start{
    display: flex;
    background-color: rgba(9, 63, 12, 0.75);
    height:100%;
    width:100%;
    position: fixed;
    z-index: 9999;
}
button{
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: auto;
}
