@import url('https://fonts.googleapis.com/css2?family=Lato&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Press Start 2P', cursive;
    overflow:hidden;
}
.title{
    margin: 10px;
    padding: 10px;
}
body{
    display: flex;
    align-items: center; 
    flex-direction: column;
    background-image: url(photo/background.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.gamePage{
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
}
#game_area{
    margin: 15px auto;
    background:#033911;
    border: 1px solid #000000;
    background-repeat: no-repeat;
    background-size: cover;
}
.rel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons{
    display:flex;
    justify-content: space-between;
}

.btn {
    margin: 20px auto 20px auto;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.modal-content{
    background-color: rgba(5, 254, 71, 0.1);
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 54px -22px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 54px -22px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 54px -22px rgba(0, 0, 0, 1);
}
.btn:hover {
    color:#00b700; 
    letter-spacing: 5px;
    transition: 0.1s ease-in-out;
}
.btn_start {
    margin: 30px auto;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.btn_start:hover {
    color:rgb(0, 183, 0); 
    letter-spacing: 5px;
    transition:  ease-in-out;
}
.btn{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(61, 61, 61);
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.btn_restart:hover {
    color:rgb(9, 172, 3); 
    background-color: rgb(46, 46, 46);
    transition:  ease-in-out;
}
.result img{
    height: 60px;
    width: 60px;
}

#fruit, #virus {
    display: none;
    height: 80px;
    width: 80px;
}

#snake {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

#scoreModal {
    color: rgb(255, 0, 0);
    font-weight: bolder;
}

#pauseBtn:hover, #resumeBtn:hover {
    background-color: #ccc;
}
h2 {
    color: #11d011;
    font-size:3rem;
}